<h1>Welcome to Friends App!</h1>
<br/>
<p>This App implements the basic CRUD operations:
  <br/>
  - Create
  <br/>
  - Read
  <br/>
  - Update
  <br/>
  - Delete
  <br/>
  <br/>
  <strong>You can store your friends' contacts and accounts !</strong>
</p>